.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

@media (max-width: 640px) {
  /* أو أي حجم شاشة صغير تريده */
  .table {
    width: 100%;
  }
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #8e8eff17;
}
