.LogoBrand {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .LogoBrand {
    margin: 0pc -9pc;
  }
}
.TextLogo {
  font-size: 30px;
  font-family: "Arbutus Slab";
  color: rgba(29, 78, 216, 1);
}
