.container {
  margin: 1pc 11pc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header_For_Section {
  margin-left: 20rem;
  margin-right: 20rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
