html {
  scroll-behavior: smooth;
}

.Active {
  color: #0a84ff7a !important;
}
.Active hr {
  background: #0a84ff7a !important;
  height: 4px !important;
}

.active {
  border-bottom: 4px solid blue;
}
